<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.CmsCaidanMapper">

    <resultMap type="CmsCaidan" id="CmsCaidanResult">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="ancestors"    column="ancestors"    />
        <result property="name"    column="name"    />
        <result property="orderNum"    column="order_num"    />
        <result property="note"    column="note"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCmsCaidanVo">
        select id, parent_id, ancestors, name, order_num, note, status, del_flag, create_by, create_time, update_by, update_time from cms_caidan
    </sql>

    <select id="selectCmsCaidanList" parameterType="CmsCaidan" resultMap="CmsCaidanResult">
        <include refid="selectCmsCaidanVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>

    <select id="selectCmsCaidanById" parameterType="Long" resultMap="CmsCaidanResult">
        <include refid="selectCmsCaidanVo"/>
        where id = #{id}
    </select>
    <select id="selectChildrenCaidanById" parameterType="Long" resultMap="CmsCaidanResult">
		select * from Cms_Caidan where find_in_set(#{deptId}, ancestors)
	</select>

    <update id="updateCaidanChildren" parameterType="java.util.List">
        update Cms_Caidan set ancestors =
        <foreach collection="caidans" item="item" index="index"
                 separator=" " open="case id" close="end">
            when #{item.id} then #{item.ancestors}
        </foreach>
        where id in
        <foreach collection="caidans" item="item" index="index"
                 separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <insert id="insertCmsCaidan" parameterType="CmsCaidan" useGeneratedKeys="true" keyProperty="id">
        insert into cms_caidan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="ancestors != null">ancestors,</if>
            <if test="name != null">name,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="note != null">note,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="ancestors != null">#{ancestors},</if>
            <if test="name != null">#{name},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="note != null">#{note},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCmsCaidan" parameterType="CmsCaidan">
        update cms_caidan
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="ancestors != null">ancestors = #{ancestors},</if>
            <if test="name != null">name = #{name},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="note != null">note = #{note},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCmsCaidanById" parameterType="Long">
        delete from cms_caidan where id = #{id}
    </delete>

    <delete id="deleteCmsCaidanByIds" parameterType="String">
        delete from cms_caidan where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
