<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.EquipDianjianListMapper">

    <resultMap type="EquipDianjianList" id="EquipDianjianListResult">
        <result property="id"    column="id"    />
        <result property="sbid"    column="sbid"    />
        <result property="sbname"    column="sbname"    />
        <result property="bzhid"    column="bzhid"    />
        <result property="biaozhun"    column="biaozhun"    />
        <result property="dept"    column="dept"    />
        <result property="team"    column="team"    />
        <result property="leibie"    column="leibie"    />
        <result property="zhouqi"    column="zhouqi"    />
        <result property="bzhnote"    column="bzhnote"    />
        <result property="zhoucishu"    column="zhoucishu"    />
        <result property="djr"    column="djr"    />
        <result property="djresult"    column="djresult"    />
        <result property="djcontent"    column="djcontent"    />
        <result property="djtime"    column="djtime"    />
        <result property="note"    column="note"    />
        <result property="flag"    column="flag"    />
        <result property="djrq"    column="djrq"    />
    </resultMap>

    <sql id="selectEquipDianjianListVo">
        select id, sbid, sbname, bzhid, biaozhun, dept, team, leibie, zhouqi, bzhnote, zhoucishu, djr, djresult, djcontent, djtime, note, flag, djrq from equip_dianjian_list
    </sql>

    <select id="selectEquipDianjianListList" parameterType="EquipDianjianList" resultMap="EquipDianjianListResult">
        <include refid="selectEquipDianjianListVo"/>
        <where>
            <if test="sbid != null "> and sbid = #{sbid}</if>
            <if test="sbname != null  and sbname != ''"> and sbname like concat('%', #{sbname}, '%')</if>
            <if test="bzhid != null "> and bzhid = #{bzhid}</if>
            <if test="biaozhun != null  and biaozhun != ''"> and biaozhun = #{biaozhun}</if>
            <if test="dept != null  and dept != ''"> and dept = #{dept}</if>
            <if test="team != null  and team != ''"> and team = #{team}</if>
            <if test="leibie != null  and leibie != ''"> and leibie = #{leibie}</if>
            <if test="zhouqi != null  and zhouqi != ''"> and zhouqi = #{zhouqi}</if>
            <if test="bzhnote != null  and bzhnote != ''"> and bzhnote = #{bzhnote}</if>
            <if test="zhoucishu != null  and zhoucishu != ''"> and zhoucishu = #{zhoucishu}</if>
            <if test="djr != null  and djr != ''"> and djr = #{djr}</if>
            <if test="djresult != null  and djresult != ''"> and djresult = #{djresult}</if>
            <if test="djcontent != null  and djcontent != ''"> and djcontent = #{djcontent}</if>
            <if test="djtime != null "> and djtime = #{djtime}</if>
            <if test="note != null  and note != ''"> and note = #{note}</if>
            <if test="flag != null "> and flag = #{flag}</if>
            <if test="djrq != null  and djrq != ''"> and djrq = #{djrq}</if>
        </where>
        order by id desc
    </select>

    <select id="selectLastEquipDianjianList" parameterType="EquipDianjianList" resultMap="EquipDianjianListResult">
        <include refid="selectEquipDianjianListVo"/>
        <where>
            <if test="sbid != null "> and sbid = #{sbid}</if>
            <if test="sbname != null  and sbname != ''"> and sbname like concat('%', #{sbname}, '%')</if>
            <if test="bzhid != null "> and bzhid = #{bzhid}</if>
            <if test="biaozhun != null  and biaozhun != ''"> and biaozhun = #{biaozhun}</if>
            <if test="dept != null  and dept != ''"> and dept = #{dept}</if>
            <if test="team != null  and team != ''"> and team = #{team}</if>
            <if test="leibie != null  and leibie != ''"> and leibie = #{leibie}</if>
            <if test="zhouqi != null  and zhouqi != ''"> and zhouqi = #{zhouqi}</if>
            <if test="bzhnote != null  and bzhnote != ''"> and bzhnote = #{bzhnote}</if>
            <if test="zhoucishu != null  and zhoucishu != ''"> and zhoucishu = #{zhoucishu}</if>
            <if test="djr != null  and djr != ''"> and djr = #{djr}</if>
            <if test="djresult != null  and djresult != ''"> and djresult = #{djresult}</if>
            <if test="djcontent != null  and djcontent != ''"> and djcontent = #{djcontent}</if>
            <if test="djtime != null "> and djtime = #{djtime}</if>
            <if test="note != null  and note != ''"> and note = #{note}</if>
            <if test="flag != null "> and flag = #{flag}</if>
            <if test="djrq != null  and djrq != ''"> and djrq = #{djrq}</if>
        </where>
        order by id desc limit 1
    </select>

    <select id="selectEquipDianjianListById" parameterType="Long" resultMap="EquipDianjianListResult">
        <include refid="selectEquipDianjianListVo"/>
        where id = #{id}
    </select>

    <insert id="insertEquipDianjianList" parameterType="EquipDianjianList" useGeneratedKeys="true" keyProperty="id">
        insert into equip_dianjian_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sbid != null">sbid,</if>
            <if test="sbname != null">sbname,</if>
            <if test="bzhid != null">bzhid,</if>
            <if test="biaozhun != null">biaozhun,</if>
            <if test="dept != null">dept,</if>
            <if test="team != null">team,</if>
            <if test="leibie != null">leibie,</if>
            <if test="zhouqi != null">zhouqi,</if>
            <if test="bzhnote != null">bzhnote,</if>
            <if test="zhoucishu != null">zhoucishu,</if>
            <if test="djr != null">djr,</if>
            <if test="djresult != null">djresult,</if>
            <if test="djcontent != null">djcontent,</if>
            <if test="djtime != null">djtime,</if>
            <if test="note != null">note,</if>
            <if test="flag != null">flag,</if>
            <if test="djrq != null">djrq,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sbid != null">#{sbid},</if>
            <if test="sbname != null">#{sbname},</if>
            <if test="bzhid != null">#{bzhid},</if>
            <if test="biaozhun != null">#{biaozhun},</if>
            <if test="dept != null">#{dept},</if>
            <if test="team != null">#{team},</if>
            <if test="leibie != null">#{leibie},</if>
            <if test="zhouqi != null">#{zhouqi},</if>
            <if test="bzhnote != null">#{bzhnote},</if>
            <if test="zhoucishu != null">#{zhoucishu},</if>
            <if test="djr != null">#{djr},</if>
            <if test="djresult != null">#{djresult},</if>
            <if test="djcontent != null">#{djcontent},</if>
            <if test="djtime != null">#{djtime},</if>
            <if test="note != null">#{note},</if>
            <if test="flag != null">#{flag},</if>
            <if test="djrq != null">#{djrq},</if>
         </trim>
    </insert>

    <update id="updateEquipDianjianList" parameterType="EquipDianjianList">
        update equip_dianjian_list
        <trim prefix="SET" suffixOverrides=",">
            <if test="sbid != null">sbid = #{sbid},</if>
            <if test="sbname != null">sbname = #{sbname},</if>
            <if test="bzhid != null">bzhid = #{bzhid},</if>
            <if test="biaozhun != null">biaozhun = #{biaozhun},</if>
            <if test="dept != null">dept = #{dept},</if>
            <if test="team != null">team = #{team},</if>
            <if test="leibie != null">leibie = #{leibie},</if>
            <if test="zhouqi != null">zhouqi = #{zhouqi},</if>
            <if test="bzhnote != null">bzhnote = #{bzhnote},</if>
            <if test="zhoucishu != null">zhoucishu = #{zhoucishu},</if>
            <if test="djr != null">djr = #{djr},</if>
            <if test="djresult != null">djresult = #{djresult},</if>
            <if test="djcontent != null">djcontent = #{djcontent},</if>
            <if test="djtime != null">djtime = #{djtime},</if>
            <if test="note != null">note = #{note},</if>
            <if test="flag != null">flag = #{flag},</if>
            <if test="djrq != null">djrq = #{djrq},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEquipDianjianListById" parameterType="Long">
        delete from equip_dianjian_list where id = #{id}
    </delete>

    <delete id="deleteEquipDianjianListByIds" parameterType="String">
        delete from equip_dianjian_list where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
