<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.ZhibiaocfgMapper">
    
    <resultMap type="Zhibiaocfg" id="ZhibiaocfgResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="dept"    column="dept"    />
        <result property="planval"    column="planval"    />
    </resultMap>

    <sql id="selectZhibiaocfgVo">
        select id, name, dept, planval from zhibiaocfg
    </sql>

    <select id="selectZhibiaocfgList" parameterType="Zhibiaocfg" resultMap="ZhibiaocfgResult">
        <include refid="selectZhibiaocfgVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="dept != null  and dept != ''"> and dept = #{dept}</if>
        </where>
    </select>
    
    <select id="selectZhibiaocfgById" parameterType="Long" resultMap="ZhibiaocfgResult">
        <include refid="selectZhibiaocfgVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertZhibiaocfg" parameterType="Zhibiaocfg" useGeneratedKeys="true" keyProperty="id">
        insert into zhibiaocfg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="dept != null and dept != ''">dept,</if>
            <if test="planval != null">planval,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="dept != null and dept != ''">#{dept},</if>
            <if test="planval != null">#{planval},</if>
         </trim>
    </insert>

    <update id="updateZhibiaocfg" parameterType="Zhibiaocfg">
        update zhibiaocfg
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="dept != null and dept != ''">dept = #{dept},</if>
            <if test="planval != null">planval = #{planval},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZhibiaocfgById" parameterType="Long">
        delete from zhibiaocfg where id = #{id}
    </delete>

    <delete id="deleteZhibiaocfgByIds" parameterType="String">
        delete from zhibiaocfg where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>